#header {
    button.navbar-toggler {
        outline: none;
    }
    @media screen and (max-width: 1000px) {
        .xs-button {
            color: white;
            &::after {
                content: '';
                width: 20px;
                height: 5px;
                background-color: white;
                position: absolute;
                transition: all .5s;
                top: 28px;
            }
            &::before {
                content: '';
                width: 20px;
                height: 5px;
                background-color: white;
                position: absolute;
                top: 18px;
                transition: all .5s;
            }
        }
        button.navbar-toggler.rotate {
            .xs-button::after {
                transform: rotate(30deg);
                top: 22px;
            }
            .xs-button::before {
                transform: rotate(-30deg);
                top: 22px;
            }
        }
        .lg-marker {
            color: $color-white;
            margin-left: auto;
            font-size: $font-size-3;
        }
    }
}

@media screen and (max-width: 1000px) {
    #header-menu-lg {
        height: 100vh;
        position: fixed;
        top: 48px;
        left: 0;
        width: 100%;
        background-color: $color-white-background-1;
        animation-duration: .5s;
        z-index: 20;
        ul {
            animation-duration: .5s;
            li {
                display: flex;
                margin: 0 $mg-4;
                @include text($font-size-1, $font-weight-500, $color-dark-blue-1);
                justify-content: space-between;
                padding: $pd-3 0;
                border-bottom: $border-2;
                align-items: center;
                cursor: pointer;
                i {
                    font-size: $font-size-3;
                }
                .language {
                    font-size: $font-size-1;
                    .btn-go,
                    .btn-build {
                        padding: 0 $pd-2;
                    }
                    button {
                        margin-left: $mg-1;
                    }
                }
            }
            .last-li {
                border-color: transparent;
            }
        }
        .footer-search-field {
            width: 60%;
            background-color: $color-white;
            margin: $mg-5 auto;
            input {
                padding: $pd-1 0;
            }
        }
        .vehicles-nav-lg {
            animation-duration: .5s;
        }
        .header-nav {
            background-color: $color-white;
            @include text($font-size-1, $font-weight-bold, $color-blue-2);
            padding: $pd-2 $pd-5;
            span {
                display: inline-block;
                text-align: center;
                margin: auto;
            }
        }
        .back {
            font-size: $font-size-2 + .4;
        }
    }
}