#explore-content {
    width: 333%;
    background-color: $color-white;
    padding: $pd-7 - 4;
    position: absolute;
    top: $pd-7 + 9;
    right: -200%;
    animation-duration: .5s;
    z-index: 2;
    ul {
        list-style: none;
        @include text($font-size-1, $font-weight-bold, $color-blue-1);
        li {
            margin-bottom: $mg-4;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    }
}