@mixin text($ftz, $fw, $color) {
    font-size: $ftz;
    font-weight: $fw;
    color: $color;
}

@mixin button($bg, $b-color, $color, $pd, $bg-hover, $b-hover, $color-hover) {
    background-color: $bg;
    border: 2px solid $b-color;
    color: $color;
    padding: $pd;
    &:hover {
        background-color: $bg-hover;
        border-color: $b-hover;
        color: $color-hover;
    }
}